---
Checks: "
  -*,
  clang-diagnostic-*,
  clang-analyzer-*,
  cppcoreguidelines-*,
  bugprone-*,
  cert-*-c,
  misc-*,
  performance-*,
  portability-*,
  readability-*,
  modernize-*,
  "
WarningsAsErrors: ""
HeaderFilterRegex: ""
AnalyzeTemporaryDtors: false
FormatStyle: file
